#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=迅雷
Exec=bash '$PWD/start.sh' ThunderSpeed
Icon=$PWD/icon/ThunderSpeed.png
StartupWMClass=Thunder
