#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TIM
Exec=bash '$PWD/start.sh' TIM
Icon=$PWD/icon/TIM.png
StartupWMClass=TIM
